body{
	font-family: 'Raleway', sans-serif;
    line-height: 1.6em;
    margin: 0;
	
}

.container-fluid{
	height: 150px;
	display: flex;
   justify-content: center;
   align-items: center;
}
.cont{
    width: 85%;
    max-width: 1300px;
    margin: 50px auto;
 }

.form-compra{
    background: deepskyblue;
    color: #fff;
    padding: 20px;
    margin-top: 150px;
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid #17a2b8;

}

.form-compra{
    width: 95%;
    max-width: 1000px;
    margin: auto;
    background: #fff;
    border-radius: 5px;
    margin-top: 50px;
}

.contenedor-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    margin-bottom: 10px;
    padding: 10px;

    
}

.input-50{
    width: 35%;
}

.input-100{
    width: 100%;
}

.btn-guardar{
    background: #17a2b8;
    color: #fff;
    font-size: 18px;
    width: 150px;

}

.btn-guardar:hover{
    background:#168799; 
}



